<html>
    <head>
        <title>{% block title %}Don't Forget{% endblock %}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/jquery.poptrox.min.js"></script>
        <script src="/static/js/skel.min.js"></script>
        <script src="/static/js/init.js"></script>
        {% block js %}{% endblock %}
        <noscript>
            <link rel="stylesheet" href="/static/css/skel.css" />
            <link rel="stylesheet" href="/static/css/style.css" />
            <link rel="stylesheet" href="/static/css/style-xlarge.css" />
            {% block css %}{% endblock %}
        </noscript>
        <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
    </head>

    <body id="top">

        <!-- Header -->
        <header id="header">
            <a href="#" class="image avatar"><img src="/static/images/avatar.jpg" alt="" /></a>
            <h1>
                <strong>
                    Bem vindo:
                </strong>
                XPTO
                <br>
                <strong>
                    <!--a href="http://html5up.net">sair.</a-->
                    <a href="/logout/">sair</a>
                    <br>
                    <a href="/contatos/">contatos</a>
                    <br>
                    <a href="/estabelecimentos/">estabelecimentser os</a>
                    <br>
                    <a href="/eventos/">eventos</a>
                </strong>
            </h1>
        </header>

        <div id="main">
            <section id="one">
                <header class="major">
                    <h2>{% block bodyTitle %} {% endblock %}</h2>
                </header>
                <p>{% block bodyDescription %} {% endblock %}</p>
            </section>


            {% block body %}{% endblock %}
        </div>

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                {% for link in links %}
                    <li><a href="#" class="icon {{link.icon}}">{{link.name}}</a></li>
                {% endfor %}
            </ul>
            <ul class="copyright">
                <li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </footer>
    </body>
</html>