{% extends '/base/base.html' %}
{% block js %}
    <script type="text/javascript" src="/static/contatos/js/factories.js"></script>
    <script type="text/javascript" src="/static/contatos/js/directives.js"></script>
    <script type="text/javascript" src="/static/contatos/js/controllers.js"></script>
    <script>
        var contatos = {{contatos | safe}};
    </script>
{% endblock %}
{% block title %}
    Don't Forget - Contatos
{% endblock %}
{% block bodyTitle %}Contatos{% endblock %}
{% block bodyDescription %}Insira contatos para facilitar na hora de agendar seus compromissos.{% endblock %}
{% block body %}
    <!-- Two -->
    <section id="two">
        <div ng-app="contatoApp" ng-controller="ContatoController">
            <button class="button" ng-click="mostrarOuEsconderForm()">Criar novo contato</button>
            <contato-form ng-show="mostrarFormFlag"  index="index" contato="contato" contatos="contatos"></contato-form>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th class="icon fa-envelope-o"> Email</th>
                        <th class="icon fa-mobile"> Celular</th>
                        <th class="icon fa-home">Endereço</th>
                        <!--th class="icon fa-map-marker"> Mapa</th-->
                        <th>Editar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                {# {% for contato in contatos %} #}
                <tr ng-repeat="contato in contatos track by $index">
                    <td>{[ contato.id ]}</td>
                    <td>{[ contato.nome ]}</td>
                    <td>{[ contato.email ]}</td>
                    <td>{[ contato.celular ]}</td>
                    <td>{[ contato.logradouro ]}</td>
                    <td><a href="#form-contato" id="{[contato.id]}" ng-click="editar(contato.id, $index)" class="icon fa-edit"></a></td>
                    <td><a href="#" id="{[contato.id]}" ng-click="deletar(contato.id, $index)" class="icon fa-trash"></a></td>
                    </td>
                </tr>
            </table>
        </div>
    </section>

{% endblock %}