{% extends '/base/base.html' %}
{% block title %}
    Don't Forget - Contatos
{% endblock %}
{% block bodyTitle %}Contatos{% endblock %}
{% block bodyDescription %}Insira contatos para facilitar na hora de agendar seus compromissos.{% endblock %}
{% block body %}
    <!-- Two -->
    <section id="two">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th class="icon fa-envelope-o"> Email</th>
                    <th class="icon fa-mobile"> Celular</th>
                    <th class="icon fa-home">Endereço</th>
                    <!--th class="icon fa-map-marker"> Mapa</th-->
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            {% for contato in contatos %}
            <tr>
                <td>{{ contato.id }}</td>
                <td>{{ contato.nome }}</td>
                <td>{{ contato.email }}</td>
                <td>{{ contato.celular }}</td>
                <td>{{ contato.logradouro }}</td>
                <td><a href="{{ contato.edit_path }}" class="icon fa-edit"></a></td>
                <td>
                    <form action="{{ contato.delete_path }}" method="post">
                        {{ csrf_input() }}
                        <button class="button"><i class="icon fa-trash"> Excluir</i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        <form action="{{ new_path }}" method="post" role="form">
            {{ csrf_input() }}
            <button type="submit" class="button"><i class="icon fa-archive"> Novo</i></button>
        </form>
    </section>

{% endblock %}