{% extends 'base/base.html' %}
{% block title %}
    Don't Forget - Contatos
{% endblock %}
{% block bodyTitle %}Contatos{% endblock %}
{% block bodyDescription %}Insira contatos para facilitar na hora de agendar seus compromissos.{% endblock %}
{% block body %}

    <!-- Two -->
    <section id="two">
        <h2>Novo Contatos</h2>
        <form action="{{ salvar_path }}" method="post" role="form">
            #parece que ele não está entendendo essa porra toda aqui embaixo:
            {{ csrf_input() }}
            {{ form_input( 'Nome', 'nome', '', erros.nome) }}
            {{ form_input( 'Email', 'email', '', erros.email) }}
            {{ form_input( 'Celular', 'celular', '', erros.celular) }}
            {{ form_input( 'Bairro', 'bairro', '', erros.bairro) }}
            {{ form_input( 'Logradouro', 'logradouro', '', erros.logradouro) }}
            {{ form_input( 'Numero', 'numero', '', erros.numero) }}
            {{ form_input( 'Cep', 'cep', '', erros.cep) }}
            <button type="submit" class="btn-success">Salvar</button>
        </form>
    </section>
{% endblock %}