    {% extends '/base/base.html' %}
{% block title %}
    Don't Forget - Eventos
{% endblock %}
{% block bodyTitle %}Eventos{% endblock %}
{% block bodyDescription %}Insira eventos e sincronise com seu smartphone{% endblock %}
{% block body %}

    <!-- Two -->
    <section id="two">
        <h2>Eventos</h2>
        <table>
            <tr>
                <td>Nome</td>
                <td>Descrição</td>
                <td class="icon fa-envelope-o"> Email</td>
                <td class="icon fa-mobile"> Celular</td>
                <td class="icon fa-home">Endereço</td>
                <td class="icon fa-map-marker"> Mapa</td>
                <td>Editar</td>
                <td>Excluir</td>
            </tr>
            <tr>
                <td>Lucas</td>
                <td>DEV - Site</td>
                <td>lucasoliveiracampos@gmail.com</td>
                <td>(XX)91111-2222</td>
                <td>Rua dos bobos Nº: 0</td>
                <td><a href="#"><h3 class="icon fa-map-marker"></h3></td>
                <td><a href="contatos/editar.html"><h3 class="icon fa-edit"></h3></a></td>
                <td><a href="contatos/editar.html"><h3 class="icon fa-remove"></h3></a></td>
            </tr>
            <tr>
                <td>Lucas</td>
                <td>DEV - Site</td>
                <td>lucasoliveiracampos@gmail.com</td>
                <td>(XX)91111-2222</td>
                <td>Rua dos bobos Nº: 0</td>
                <td><a href="#"><h3 class="icon fa-map-marker"></h3></td>
                <td><a href="contatos/editar.html"><h3 class="icon fa-edit"></h3></a></td>
                <td><a href="#"><h3 class="icon fa-remove"></h3></a></td>
            </tr>
            <tr>
                <td>Lucas</td>
                <td>DEV - Site</td>
                <td>lucasoliveiracampos@gmail.com</td>
                <td>(XX)91111-2222</td>
                <td>Rua dos bobos Nº: 0</td>
                <td><a href="#"><h3 class="icon fa-map-marker"></h3></td>
                <td><a href="contatos/editar.html"><h3 class="icon fa-edit"></h3></a></td>
                <td><a href="#"><h3 class="icon fa-remove"></h3></a></td>
            </tr>
            <tr>
                <td>Lucas</td>
                <td>DEV - Site</td>
                <td>lucasoliveiracampos@gmail.com</td>
                <td>(XX)91111-2222</td>
                <td>Rua dos bobos Nº: 0</td>
                <td><a href="#"><h3 class="icon fa-map-marker"></h3></td>
                <td><a href="contatos/editar.html"><h3 class="icon fa-edit"></h3></a></td>
                <td><a href="#"><h3 class="icon fa-remove"></h3></a></td>
            </tr>
        </table>
    </section>
{% endblock %}